.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #eb7c40;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding-top: 20px;
  margin-top: 120px;
}
